<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Crypto Trading App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Dinastía Cripto</h1>
        <!-- Navbar -->
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('cripto') }}">Cripto</a></li>
                <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('spot') }}">Spot</a></li>
                <li><a href="{{ url_for('trade') }}">Trade</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li>
                    <a href="{{ url_for('register') }}">
                        <!-- Aquí va el logo -->
                        <img src="{{ url_for('static', filename='img/register.png') }}" alt="Logo de registro" class="logo"> Register
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block body %}
        <!-- Contenido de la página irá aquí -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Dinastía Cripto. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
